---
import WillowLayout from '@layouts/WillowLayout.astro';
import { default as Image, Fit } from '@components/Image.astro';
---

<WillowLayout>

	<Fragment slot="body">

		<div id = "gameinfo_content">
		
			<h2> Puzzles </h2>
			
			<p>
				Willow plays much like the Game Myst, where the player is given minimal guidance through the game and
				must progress by exploring and interacting with the game world.
				There are four main puzzle areas in the game: the cabin, well, forest and greenhouse.
				The first three puzzle areas each correspond to a color. When these areas are completed, that color is unlocked and will be visible in the world.
				At the end of the game, the player must use information found from these areas to solve one last puzzle.
			</p>
			
			<div class = "thumbnails">
				<Image src='/willow/puzzles/cabin.jpg' width={212} height={132} fit={Fit.Squeeze} link={true} />
				<Image src='/willow/puzzles/well.jpg' width={212} height={132} fit={Fit.Squeeze} link={true} />
			</div> 
			
			<h2> Interaction </h2>
			
			<p>
				The player can interact with a variety of game objects at these puzzle locations.
				The most common is picking items up; whenever a hand icon appears, that item may be picked up.
				The player can also equip items and then use them to interact with other game objects;
				if an icon of the current selected object appears, that item may be used to interact with whatever the player is looking at.
				The player may also investigate certain items to get more information (only items like diaries that may be read).
			</p>
			
			<div class = "thumbnails">
				<Image src='/willow/puzzles/logs.jpg' width={212} height={132} fit={Fit.Squeeze} link={true} />
				<Image src='/willow/puzzles/fireplace.jpg' width={212} height={132} fit={Fit.Squeeze} link={true} />
			</div> 
			
		</div>

	</Fragment>

</WillowLayout>