---

import WillowLayout from '@layouts/WillowLayout.astro';
import BafSlider from '/src/components/baf/BafSlider.astro'
import { default as Image, Fit } from '@components/Image.astro';

const sliders = [
	['greenhouse/default',   'greenhouse/red-unlocked',     'Red Unlocked'],
	['greenhouse/default',   'greenhouse/green-unlocked',   'Green Unlocked'],
	['well/default',         'well/blue-unlocked',          'Blue Unlocked'],
	['fireplace/default',    'fireplace/red-unlocked',      'Red Unlocked'],
	['world/default',        'world/all-unlocked',          'All Colors Unlocked']
]

const items = ['shovel', 'hammer', 'matches', 'pin-clover', 'soap', 'log'];

---

<WillowLayout>

	<Fragment slot="body">

		<div id = "subpage_content">
		
			<h2> Color Shader </h2>

			{sliders.map((slider) => (

				<BafSlider
					before = `/willow/shader/${slider[1]}.jpg`
					after  = `/willow/shader/${slider[0]}.jpg`
					title  = `${slider[2]}`
				/>

			))}

			<h2> Media </h2>
			
			<Image src='/willow/misc/map.jpg' width={610} height={410} fit={Fit.Squeeze} /><br>
			
			Map Sketch<br><br>

			<Image src='/willow/misc/main-menu.jpg' width={610} height={410} fit={Fit.Squeeze} /><br>
			
			Main Menu<br><br>
			
			<h2> Inventory </h2>

			{items.map((item) => (

				<Image src=`/willow/items/${item}.jpg` width={160} height={160} fit={Fit.Squeeze} />

			))}
	
		</div>

	</Fragment>

</WillowLayout>

<style>

	.beforeafter
	{
		margin-top: 20px;
		height: 440px;
		width: 600px;
		text-align: center;
	}

	.beforeafter .images
	{
		height: 400px;
	}

	.slider
	{
		margin-top: 5px;
	}

</style>