---
import WattBodiesLayout from '@layouts/WattBodiesLayout.astro';
import { default as Image, Fit } from '@components/Image.astro';
---

<WattBodiesLayout>

	<Fragment slot="body">

		<div id = "subpage_content">

			<h2> Media </h2>
			
			<Image src='/wattbodies/misc/intro.png' width={610} height={410} fit={Fit.Squeeze} border='1px solid black' />
			
			<br><br>
			
			<Image src='/wattbodies/posters/conveyor.png' width={200} height={200} fit={Fit.Squeeze} border='1px solid black' />
			<Image src='/wattbodies/posters/hover.png' width={200} height={200} fit={Fit.Squeeze} border='1px solid black' />
			<Image src='/wattbodies/posters/spikes.png' width={200} height={200} fit={Fit.Squeeze} border='1px solid black' />
			
			<br><br>
			
			<Image src='/wattbodies/puzzles/hover.png' width={610} height={410} fit={Fit.Squeeze} border='1px solid black' />
			
			<br><br>
			
			<Image src='/wattbodies/puzzles/question.png' width={610} height={410} fit={Fit.Squeeze} border='1px solid black' />
			
			<br><br>
			
			<Image src='/wattbodies/puzzles/ramp.png' width={610} height={410} fit={Fit.Squeeze} border='1px solid black' />
			
			<br><br>
			
			<Image src='/wattbodies/misc/victory.png' width={610} height={410} fit={Fit.Squeeze} border='1px solid black' />
			
			<br><br>
	
		</div>

	</Fragment>

</WattBodiesLayout>

<style>

	#subpage_content img
	{
		outline: black solid 1px;
		margin-right: 10px;
	}

</style>